* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .wrapper {
    width: 650px;
  }
}
@media (min-width: 850px) {
  .wrapper {
    width: 800px;
  }
}
@media (min-width: 1100px) {
  .wrapper {
    width: 1000px;
  }
}
@media (min-width: 1300px) {
  .wrapper {
    width: 1200px;
  }
}
.single-posts {
  width: 90%;
  margin: 0 auto;
}

.visualAudible__header {
  display: none;
}

.release-single-posts {
  width: 90%;
  margin: 0 auto;
}

.release-single-posts h2 {
  font-size: 1.5rem;
  padding: 1rem 0 0.3rem 0;
  color: #1ca9d6;
  text-align: left;
  display: inline-block;
  margin: 1rem 0rem;
  grid-area: singlepostheading;
}

.release-single-posts-body ul {
  margin-bottom: 1rem;
}

.release-single-posts-body iframe {
  width: 100% !important;
}

.release-single-posts-body figure {
  width: 100%;
}

.release-single-posts-body figure img {
  width: 100%;
}

.release-single-posts-body .wp-block-group {
  margin: 2rem 0 1rem 0;
}

.release-single-posts-body .wp-block-group .wp-block-group__inner-container {
  border-top: 4px solid #CFEDF6;
  border-bottom: 4px solid #CFEDF6;
}

.release-single-posts-body .wp-block-group .wp-block-group__inner-container h3 {
  margin-top: 1rem;
  color: #0E546B;
  font-weight: 500;
}

.release-single-posts-body .wp-block-group .wp-block-group__inner-container p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 0rem;
}

.release-single-posts-body .wp-block-group .wp-block-group__inner-container p a {
  width: 95%;
  background-color: #CFEDF6;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.release-single-posts-body .wp-block-group .wp-block-group__inner-container p a:hover {
  background-color: #0E546B;
  color: #fff;
}

.release-single-posts-body .wp-block-group .wp-block-group__inner-container p a span {
  display: none;
}

.release-single-posts-body h4 {
  color: #1ca9d6;
}

.release-single-posts p {
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.7rem;
  font-size: 1rem;
}

.release-single-posts a {
  color: #0E546B;
  margin-right: 1rem;
  font-size: 0.9rem;
  display: inline-flex;
  text-transform: capitalize;
}

.release-single-posts a:hover {
  color: #1ca9d6;
}

.release-single-posts-body .social-icons {
  top: 1px;
}

.release-social-icons {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.3rem;
}

.release-single-posts-body .tag-container {
  margin-top: 1rem;
}

.release-single-posts-body .tag {
  display: inline-flex;
  background-color: #CFEDF6;
  margin-top: 0.5rem;
}

.release-single-posts-body .tag:hover {
  background-color: #0E546B;
}

.release-single-posts-body .tag a {
  display: inline-block;
  margin-right: 0rem;
  padding: 0.5rem;
}

.release-single-posts-body .tag a h2 {
  width: 125px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 200;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  background-color: #1ca9d6;
}

.release-single-posts-body .tag a h2:hover {
  background-color: #0E546B;
}

.release-single-posts-body .tag:hover > .single-posts-body .tag a h2 {
  background-color: #0E546B;
}

.release-single-posts-body .tag a img {
  width: 125px;
  height: 125px;
}

@media (min-width: 375px) {
  .release-single-posts-body .tag a h2 {
    width: 150px;
    font-size: 0.9rem;
  }

  .release-single-posts-body .tag a img {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 425px) {
  .release-single-posts-body .tag a h2 {
    width: 170px;
    font-size: 1rem;
  }

  .release-single-posts-body .tag a img {
    width: 170px;
    height: 170px;
  }
}
@media (min-width: 700px) {
  .release-single-posts {
    width: 600px;
  }

  .release-single-posts h2 {
    font-size: 2rem;
    margin: 1rem 0rem;
  }

  .release-single-posts-body figure {
    margin: 0 auto;
  }

  .release-single-posts-body .wp-block-group .wp-block-group__inner-container {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0;
  }

  .release-single-posts-body .wp-block-group .wp-block-group__inner-container figure img {
    width: 100%;
    max-width: 250px;
  }

  .release-single-posts p {
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.4rem;
    font-size: 0.9rem;
  }

  .release-single-posts-body .wp-block-group .wp-block-group__inner-container p a {
    font-size: 1rem;
  }

  .release-single-posts-body .tag a h2 {
    width: 130px;
    font-size: 0.9rem;
  }

  .release-single-posts-body .tag a img {
    width: 130px;
    height: 130px;
  }
}
@media (min-width: 1000px) {
  .release-single-posts-body iframe, .release-single-posts-body figure {
    grid-area: singlepostembed;
  }

  .release-single-posts-body ul {
    grid-area: singlepostul;
  }

  .release-single-posts-body p {
    grid-area: singlepostinfo;
  }

  .release-single-posts-body .wp-block-group {
    grid-area: buylinks;
  }

  .release-single-posts-body .tag-container {
    grid-area: tag;
  }

  .release-single-posts {
    width: 900px;
  }

  .release-single-posts-body {
    grid-template-columns: 45% 50%;
    display: grid;
    grid-template-areas: "singlepostheading singlepostheading" "singlepostul ." "singlepostembed singlepostinfo" "buylinks singlepostinfo" "tag singlepostinfo" ". singlepostinfo";
    column-gap: 2rem;
  }

  .release-single-posts-body .tag a h2 {
    width: 180px;
    font-size: 1rem;
  }

  .release-single-posts-body .tag a img {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 1300px) {
  .release-single-posts {
    width: 1200px;
  }

  .release-single-posts-body {
    grid-template-columns: 40% 40% 15%;
    display: grid;
    grid-template-areas: "singlepostheading singlepostheading ." "singlepostul . ." "singlepostembed singlepostinfo buylinks" "tag singlepostinfo ." ". singlepostinfo .";
  }

  .release-single-posts-body .wp-block-group {
    margin: 0rem 0 1rem 0;
  }

  .release-single-posts-body .wp-block-group .wp-block-group__inner-container h3 {
    margin-top: 0rem;
  }

  .release-single-posts-body .wp-block-group .wp-block-group__inner-container p {
    display: block;
    grid-template-columns: unset;
  }

  .release-single-posts-body .tag a h2 {
    width: 140px;
    font-size: 0.9rem;
  }

  .release-single-posts-body .tag a img {
    width: 140px;
    height: 140px;
  }
}
.artist-single-posts {
  width: 90%;
  margin: 0 auto;
}

.artist-single-posts-body {
  margin-top: 2rem;
}

.artist-single-posts-body h2 {
  font-size: 2rem;
  color: #1ca9d6;
}

.artist-single-posts-body ul li {
  display: inline-flex;
  padding-top: 0.5rem;
}

.artist-single-posts-body p {
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.artist-single-posts a {
  color: #0E546B;
  margin-right: 1rem;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.artist-single-posts a:hover {
  color: #1ca9d6;
}

.social-icons {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.3rem;
}

.artist-single-posts-body .tag-container {
  background-color: #CFEDF6;
  margin-top: 1rem;
}

.artist-single-posts-body .tag a {
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
}

.artist-single-posts-body .tag h2 {
  width: 100%;
  background-color: #1ca9d6;
  margin-top: 0rem;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  display: inline-block;
}

.artist-single-posts-body .tag img {
  width: 100%;
}

.artist-single-posts-body h2, .artist-single-posts-body ul, .artist-single-posts-body iframe, .artist-single-posts-body p {
  margin-bottom: 1rem;
}

.facebook-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-fb-icon.png");
}

.facebook-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/fb-icon.png");
}

.artist-single-posts a:hover > .facebook-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/fb-icon.png");
}

.soundcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-soundcloud-icon.png");
}

.soundcloud-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/soundcloud-icon.png");
}

.artist-single-posts a:hover > .soundcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/soundcloud-icon.png");
}

.twitter-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-twitter-icon.png");
}

.twitter-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/twitter-icon.png");
}

.artist-single-posts a:hover > .twitter-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/twitter-icon.png");
}

.instagram-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-instagram-icon.png");
}

.instagram-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/instagram-icon.png");
}

.artist-single-posts a:hover > .instagram-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/instagram-icon.png");
}

.beatport-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-beatport-icon.png");
}

.beatport-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/beatport-icon.png");
}

.artist-single-posts a:hover > .beatport-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/beatport-icon.png");
}

.mixcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-mixcloud-icon.png");
}

.mixcloud-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/mixcloud-icon.png");
}

.artist-single-posts a:hover > .mixcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/mixcloud-icon.png");
}

.spotify-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-spotify-icon.png");
}

.spotify-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/spotify-icon.png");
}

.artist-single-posts a:hover > .spotify-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/spotify-icon.png");
}

.patreon-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-patreon-icon.png");
}

.patreon-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/patreon-icon.png");
}

.artist-single-posts a:hover > .patreon-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/patreon-icon.png");
}

.discogs-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-discogs-icon.png");
}

.discogs-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/discogs-icon.png");
}

.artist-single-posts a:hover > .discogs-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/discogs-icon.png");
}

.bandcamp-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-bandcamp-icon.png");
}

.bandcamp-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/bandcamp-icon.png");
}

.artist-single-posts a:hover > .bandcamp-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/bandcamp-icon.png");
}

.youtube-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-youtube-icon.png");
}

.youtube-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/youtube-icon.png");
}

.artist-single-posts a:hover > .youtube-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/youtube-icon.png");
}

@media (min-width: 700px) {
  .artist-single-posts {
    width: 600px;
  }

  .artist-single-posts-body .tag-container {
    padding-left: 0.3rem;
  }

  .artist-single-posts-body .tag-container .tag {
    display: inline-flex;
  }

  .artist-single-posts-body .tag h2, .artist-single-posts-body .tag img {
    width: 260px;
  }
}
@media (min-width: 1000px) {
  .artist-single-posts {
    width: 900px;
  }

  .artist-single-posts-body h2 {
    grid-area: artistheading;
  }

  .artist-single-posts-body ul {
    grid-area: sociallinks;
  }

  .artist-single-posts-body iframe, .artist-single-posts-body figure {
    grid-area: artistembed;
  }

  .artist-single-posts-body p {
    grid-area: artistinfo;
  }

  .artist-single-posts-body .tag-container {
    grid-area: tag;
  }

  .artist-single-posts-body .tag h2, .artist-single-posts-body .tag img {
    width: 255px;
  }

  .artist-single-posts-body {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-areas: "artistembed artistheading" "artistembed sociallinks" "artistembed artistinfo" "artistembed ." "tag tag";
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }

  .artist-single-posts-body h2, .artist-single-posts-body ul, .artist-single-posts-body iframe, .artist-single-posts-body p {
    margin-bottom: 0rem;
  }
}
@media (min-width: 1300px) {
  .artist-single-posts {
    width: 1200px;
  }

  .artist-single-posts-body {
    grid-template-columns: 40% 55%;
  }
}
/* HEADER RULES */
/* HEADER RULES */
.mobile-search-box {
  width: 100%;
  background: #3f3f48;
  padding: 0.5rem;
  position: absolute;
  z-index: 2;
  height: 50px;
  top: -100px;
  transition: all ease-in-out 0.4s;
}

.mobile-search-box--show {
  position: relative;
  top: 0px;
  transition: all ease-in-out 0.4s;
}

.mobile-search-box .search {
  width: 100%;
}

.mobile-search-box .search-box {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  color: #0e546b;
  padding: 0.5rem 0 0.5rem 1rem;
  border: none;
  border-radius: 15px;
}

.mobile-search-box .search-box::placeholder {
  color: #1ca9d6;
}

.mobile-search-box .search-icon {
  width: 25px;
  float: right;
  position: relative;
  bottom: 29px;
  right: 5px;
}

header {
  display: grid;
  grid-template-columns: 25% 50% 10% 10%;
  grid-column-gap: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid rgba(3, 160, 210, 0.2);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.logo img {
  width: 80px;
  margin-top: 1rem;
}

.heading h2 {
  color: #1ca9d6;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.recordings {
  color: #0E546B;
  font-size: 1.1rem;
  position: relative;
  bottom: 0.3rem;
}

.image-banners-container {
  display: none;
}

.search-icon-mobile img {
  width: 28px;
  position: relative;
  bottom: 5px;
}

@media (min-width: 375px) {
  .heading h2 {
    font-size: 1.5rem;
  }

  .recordings {
    font-size: 1.1rem;
    bottom: 0.3rem;
  }
}
@media (min-width: 450px) {
  .heading h2 {
    font-size: 1.8rem;
  }

  .recordings {
    font-size: 1.3rem;
    bottom: 0.3rem;
  }
}
@media (min-width: 600px) {
  header {
    border: none;
    padding-bottom: 0;
    grid-template-columns: 15% 70% 10%;
    justify-content: unset;
  }

  .logo img {
    width: 100px;
  }

  .heading {
    display: none;
  }

  .image-banners-container {
    display: block;
    margin: 0.5rem 0.5rem -1rem 0.5rem;
  }

  .image-banners-container figure img {
    width: 100%;
  }

  .search-icon-mobile {
    margin-right: 0.5rem;
  }
}
@media (min-width: 700px) {
  header {
    display: flex;
  }

  .heading h2 {
    display: none;
  }
}
@media (min-width: 850px) {
  header {
    width: 800px;
  }

  .logo img {
    width: 110px;
  }
}
@media (min-width: 1000px) {
  .mobile-search-box {
    display: none;
  }

  header {
    width: 900px;
  }

  .logo img {
    width: 140px;
  }

  .search-icon-mobile {
    display: none;
  }
}
@media (min-width: 1300px) {
  header {
    width: 1200px;
    justify-content: flex-start;
  }

  .logo img {
    width: 160px;
  }

  .image-banners-contianer {
    margin-bottom: 1rem;
  }
}
/* END OF HEADER RULES */
/* END OF HEADER RULES */
.hamburger-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.hamburger {
  cursor: pointer;
  display: block;
}

.hamburger span {
  background-color: #1ca9d6;
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.2s;
}

.hamburger-container-open {
  z-index: 3;
  position: fixed;
}

.hamburger-container-open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.hamburger-container-open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 15px;
}

.hamburger-container-open span:nth-child(3) {
  transform: rotate(45deg);
  top: -5px;
}

@media (min-width: 1000px) {
  .hamburger-container {
    display: none;
    visibility: hidden;
  }
}
/* Rules for mobile nav menu overlay */
@media (max-width: 999px) {
  .nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 1100px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    width: 100%;
    transition: all ease-in-out 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav--reveal {
    opacity: 1;
    left: 0px;
    transition: all ease-in-out 0.4s;
    z-index: 2;
  }

  nav li {
    padding: 0.8rem 0;
    text-align: center;
  }

  .nav-bar li a {
    font-size: 2rem;
    margin-right: 2rem;
    text-transform: uppercase;
  }

  li a:hover {
    color: #1ca9d6;
  }

  .nav-container .search {
    display: none;
  }
}
/* End Rules for mobile nav menu overlay*/
@media (min-width: 1000px) {
  .nav-container {
    width: 100%;
    background-color: #1ca9d6;
  }

  .nav-bar {
    width: 900px;
    margin: 0 auto;
    display: flex;
    height: 70px;
    align-items: center;
  }

  .nav ul li {
    display: inline;
  }

  .nav ul li a {
    font-size: 1rem;
    margin-right: 0.8rem;
    text-transform: uppercase;
  }

  .nav ul li a:hover {
    color: #0E546B;
  }

  .nav-container form {
    position: relative;
    left: 40px;
  }

  .search-box {
    width: 200px;
    height: 30px;
    font-size: 1rem;
    color: #0e546b;
    padding: 0.5rem 0 0.5rem 1rem;
    border: none;
    border-radius: 15px;
  }

  .search-box::placeholder {
    color: #1ca9d6;
  }

  .search-icon {
    width: 20px;
    position: relative;
    top: 2px;
    right: 35px;
  }
}
@media (min-width: 1300px) {
  .nav-bar {
    width: 1200px;
  }

  .nav-container form {
    position: relative;
    left: 340px;
  }
}
/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
.image-slider-subscribe-like {
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  width: 95%;
  margin: 0 auto;
}

.image-slider {
  text-align: center;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
}

.subscribe-like {
  display: none;
}

.image-slider div {
  position: relative;
  width: 1300%;
  margin: 0;
  left: 0;
  animation: 55s slider infinite ease-in-out;
}

.image-slider div figure {
  width: 7.6924%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  4% {
    left: 0;
  }
  8% {
    left: -100%;
  }
  12% {
    left: -100%;
  }
  16% {
    left: -200%;
  }
  20% {
    left: -200%;
  }
  24% {
    left: -300%;
  }
  28% {
    left: -300%;
  }
  32% {
    left: -400%;
  }
  36% {
    left: -400%;
  }
  40% {
    left: -500%;
  }
  44% {
    left: -500%;
  }
  48% {
    left: -600%;
  }
  52% {
    left: -600%;
  }
  56% {
    left: -700%;
  }
  60% {
    left: -700%;
  }
  64% {
    left: -800%;
  }
  68% {
    left: -800%;
  }
  72% {
    left: -900%;
  }
  76% {
    left: -900%;
  }
  80% {
    left: -1000%;
  }
  84% {
    left: -1000%;
  }
  88% {
    left: -1100%;
  }
  92% {
    left: -1100%;
  }
  96% {
    left: -1200%;
  }
  100% {
    left: -1200%;
  }
}
@media (min-width: 850px) {
  .image-slider-subscribe-like-container {
    width: 100%;
    margin: 1rem 0;
  }

  .image-slider-subscribe-like {
    display: flex;
    padding-top: 0.8rem;
    width: 800px;
  }

  .subscribe-like {
    display: inline-block;
    margin-left: 0.5rem;
  }

  .subscribe {
    margin-bottom: 0.8rem;
    text-align: center;
    color: #fff;
  }

  .subscribe-like .subscribe .email, .subscribe-like .subscribe .submit {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .subscribe p {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #3f3f48;
  }

  .like {
    width: 290px;
    height: 155px;
    background-color: black !important;
  }

  .like a {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0 0 1rem;
    float: left;
  }

  .like p {
    font-size: 0.7rem;
    font-weight: 500;
    background-color: #1ca9d6;
    color: #fff;
    padding: 0.2rem 0.5rem 0.5rem;
    text-transform: uppercase;
    position: relative;
    top: 70px;
    margin-left: 1rem;
    float: left;
  }

  .subscribe-like .like img {
    width: 17px;
    margin-right: 0.3rem;
    background-color: #fff;
    position: relative;
    top: 4px;
    border-radius: 2px;
  }
}
@media (min-width: 1000px) {
  .image-slider-subscribe-like {
    border: none;
    width: 900px;
  }

  .like {
    width: 380px;
    height: 161.5px;
  }

  .like a {
    font-size: 1rem;
  }

  .like p {
    font-size: 0.8rem;
    top: 75px;
  }
}
@media (min-width: 1300px) {
  .image-slider-subscribe-like {
    border: none;
    width: 1200px;
  }

  .like {
    width: 530px;
    height: 229.5px;
  }

  .like a {
    font-size: 1.2rem;
  }

  .like p {
    top: 140px;
  }
}
/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
.recent-posts-container {
  margin: 0rem auto;
  width: 95%;
}

.recent-posts-container img {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.recent-posts-container div {
  margin: 0 0 1rem 0;
  border-bottom: 5px solid rgba(3, 160, 210, 0.2);
}

.recent-posts-container h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0.5rem;
  color: #3f3f48;
  text-transform: uppercase;
}

.recent-posts-container p {
  padding: 0.5rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.recent-posts-container .readmore {
  background-color: #1ca9d6;
  padding: 0.8rem;
}

.recent-posts-container .readmore:hover {
  background-color: #0E546B;
}

.front-page-random-artist-container {
  height: 560px;
  overflow: hidden;
}

.front-page-random-artist-container, .artist-grid {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-self: baseline;
}

.front-page-random-artist h2, .artist-grid h2 {
  width: 130px;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #1ca9d6;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.front-page-random-artist, .artist-grid div {
  margin: 0 0.5rem 1rem 0;
}

.front-page-random-artist img, .artist-grid img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  align-self: center;
}

.front-page-random-artist h2:hover, .artist-grid h2:hover {
  background-color: #0E546B;
}

.heading-hover-effect {
  background-color: #0E546B;
}

@media (min-width: 700px) {
  .main-content-wrapper {
    display: flex;
    margin-left: 1rem;
  }

  .recent-posts-container div:last-child {
    border: none;
  }

  .recent-posts-container h2 {
    font-size: 1.2rem;
  }

  .front-page-random-artist-container {
    margin: 0 0.7rem 0 0;
    justify-content: flex-end;
    height: 2780px;
  }

  .front-page-random-artist h2 {
    font-size: 0.8rem;
  }

  .front-page-random-artist h2, .front-page-random-artist img {
    width: 145px;
  }
}
@media (min-width: 850px) {
  .main-content-wrapper {
    width: 800px;
    margin: 0 auto;
  }

  .recent-posts-container {
    margin-left: 0rem;
  }

  .front-page-random-artist-container {
    margin-right: -0.5rem;
    width: 60%;
    height: 2780px;
  }

  .front-page-random-artist h2, .front-page-random-artist-container img {
    width: 141px;
  }

  .recent-posts-container h2 {
    padding-left: 0rem;
  }

  .recent-posts-container p {
    padding: 0rem;
  }
}
@media (min-width: 1000px) {
  .main-content-wrapper {
    width: 900px;
  }

  .front-page-random-artist-container {
    width: 75%;
    height: 2880px;
  }

  .front-page-random-artist h2 {
    width: 121.2px;
  }

  .front-page-random-artist img {
    width: 121.2px;
    height: 121.2px;
  }
}
@media (min-width: 1300px) {
  .main-content-wrapper {
    width: 1200px;
  }

  .recent-posts-container h2 {
    font-size: 1.5rem;
  }

  .front-page-random-artist-container {
    width: 80%;
    height: 3320px;
  }

  .front-page-random-artist h2, .front-page-random-artist img {
    width: 127px;
  }

  .front-page-random-artist img {
    height: 127px;
  }
}
footer {
  background-color: rgba(3, 160, 210, 0.3);
  margin-top: 2rem;
  padding-top: 2rem;
}

.footer-nav-links {
  padding-bottom: 2rem;
}

footer a {
  color: #0E546B;
  text-transform: capitalize;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

footer ul:nth-child(2) {
  padding-left: 3rem;
}

footer ul:last-child {
  padding-left: 3rem;
}

footer p {
  font-size: 0.8rem;
  color: #0E546B;
  text-align: left;
  padding: 0 0 0rem 2rem;
}

footer p:last-child {
  padding-bottom: 1rem;
}

.footer-jayrome-social-links {
  margin-bottom: 2rem;
}

.footer-jayrome-social-links .wp-block-group {
  margin-bottom: 2rem;
}

.footer-jayrome-social-links .wp-block-group p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: black;
}

.footer-jayrome-social-links .wp-block-group ul li a:hover {
  color: black;
}

.footer-nav-links ul li a:hover {
  color: black;
}

@media (min-width: 700px) {
  .footer-jayrome-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1250px) {
  .footer-jayrome-and-nav {
    display: flex;
  }
}
.artist {
  text-align: center;
  width: 90%;
  margin: 2rem auto 0rem auto;
}

.artist img {
  width: 250px;
}

.artist figure:first-child a img {
  width: 200px;
}

.artist figure:nth-child(2) a img {
  width: 210px;
}

.artist figure:nth-child(4) a img {
  width: 270px;
}

.artist p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #1ca9d6;
}

@media (min-width: 700px) {
  .artist {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 3rem auto;
  }

  .artist a img {
    margin: 1rem;
  }

  .artist figure:nth-child(3) a img {
    position: relative;
    left: 15px;
  }
}
.page-title {
  color: #3f3f48;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem 0;
}

@media (min-width: 700px) {
  .artist-grid div {
    margin-top: 0.5rem;
  }

  .artist-grid h2 {
    width: 200px;
    font-size: 1rem;
  }

  .artist-grid img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1000px) {
  .artist-grid {
    width: 900px;
  }

  .page-title {
    border: none;
  }

  .artist-grid h2 {
    width: 217px;
  }

  .artist-grid img {
    width: 217px;
    height: 217px;
  }
}
@media (min-width: 1300px) {
  .artist-grid {
    width: 1200px;
  }

  .artist-grid h2 {
    width: 232px;
  }

  .artist-grid img {
    width: 232px;
    height: 232px;
  }
}
/* about.php - styles and rules */
.about {
  margin: 0 1rem;
}

.about .content-wrapper {
  text-align: center;
  border-bottom: 4px solid #CFEDF6;
  margin-top: 1rem;
}

.about img {
  width: 160px;
}

.about div:first-child img {
  width: 130px;
}

.about h2 {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: #3f3f48;
  text-align: left;
  padding-bottom: 0.5rem;
}

.about p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-align: left;
  padding-bottom: 1rem;
}

@media (min-width: 650px) {
  .about {
    border-top: 4px solid #CFEDF6;
    margin-top: 0.5rem;
  }

  .about h2 {
    grid-area: heading;
    padding: 1rem 1rem 0.5rem 0rem;
    margin-top: 0;
  }

  .about img {
    width: 200px;
    grid-area: aboutimg;
    justify-self: center;
    align-self: center;
  }

  .about div:first-child img {
    width: 170px;
  }

  .about p {
    grid-area: info;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 1rem;
  }

  .about .content-wrapper {
    display: grid;
    grid-template-areas: "aboutimg heading" "aboutimg info";
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3rem;
    padding: 3rem 1rem;
    margin-top: 0;
  }

  .about .content-wrapper:nth-child(even) {
    grid-template-areas: "heading aboutimg" "info aboutimg";
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1000px) {
  .about {
    width: 900px;
    margin: 0 auto;
    border-top: none;
  }
}
@media (min-width: 1300px) {
  .about {
    width: 1200px;
  }
}
.events-grid {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.events-grid div {
  background-color: #CFEDF6;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.events-grid div:hover {
  background-color: #0E546B;
}

.events-grid h2 {
  background-color: #1ca9d6;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.events-grid img {
  width: 100%;
}

@media (min-width: 700px) {
  .events-grid {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }

  .events-grid div {
    margin: 0.5rem 0rem 0rem 0.5rem;
  }

  .events-grid h2 {
    width: 200px;
    font-size: 1.1rem;
  }

  .events-grid img {
    width: 200px;
  }
}
@media (min-width: 1000px) {
  .events-grid {
    width: 900px;
  }

  .page-title {
    border: none;
  }
}
@media (min-width: 1300px) {
  .events-grid {
    width: 1200px;
  }
}
.event-single-posts {
  width: 90%;
  margin: 0 auto;
}

.event-single-posts h2 {
  margin: 2rem 0rem;
  color: #1ca9d6;
  text-align: center;
}

.event-single-posts-content p {
  margin-bottom: 1rem;
}

.event-single-posts-content img {
  width: 100%;
}

@media (min-width: 700px) {
  .event-single-posts {
    width: 600px;
  }

  .event-single-posts-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .event-single-posts-content p {
    margin-left: 2rem;
  }
}
@media (min-width: 1000px) {
  .event-single-posts {
    width: 900px;
  }
}
@media (min-width: 1300px) {
  .event-single-posts {
    width: 1200px;
  }
}
.dubplates-container {
  width: 90%;
  margin: 2rem auto 0rem auto;
}

.dubplates {
  margin-bottom: 2rem;
  border-bottom: 5px solid rgba(3, 160, 210, 0.2);
}

.dubplates:last-child {
  margin-bottom: 2rem;
  border-bottom: none;
}

.dubplates h2 {
  font-size: 1.5rem;
  color: #1ca9d6;
}

.dubplates ul {
  margin: 1rem 0rem;
}

.dubplates iframe {
  margin-bottom: 1rem;
}

@media (min-width: 1000px) {
  .dubplates-container {
    width: 900px;
  }

  .dubplate-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .dubplates h2 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1300px) {
  .dubplates-container {
    width: 1200px;
  }
}
.radio-container {
  width: 90%;
  margin: 2rem auto 0rem auto;
}

.radio-content {
  margin-bottom: 2rem;
}

.radio-content div {
  border-bottom: 5px solid rgba(3, 160, 210, 0.2);
}

.radio-content div:last-child {
  border-bottom: none;
}

.radio-content ul {
  margin: 1rem 0rem;
}

.radio-content iframe {
  margin-bottom: 1rem;
}

@media (min-width: 1000px) {
  .radio-container {
    width: 900px;
    margin: 0rem auto;
  }

  .radio-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .radio-content div {
    border-bottom: none;
  }
}
@media (min-width: 1300px) {
  .radio-container {
    width: 1200px;
  }
}
.search-results {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.search-results-content div {
  border-bottom: 5px solid rgba(3, 160, 210, 0.2);
}

.search-results-content h2 {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.search-results-content h2 a {
  color: #3f3f48;
}

.search-results-content img {
  width: 120px;
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .search-results {
    width: 600px;
  }

  .search-results-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .search-results-content div {
    border-bottom: none;
  }
}
@media (min-width: 1000px) {
  .search-results {
    width: 900px;
  }
}
@media (min-width: 1000px) {
  .search-results {
    width: 900px;
  }
}
@media (min-width: 1300px) {
  .search-results {
    width: 1200px;
  }
}
.mobile-subscribe-like {
  width: 95%;
  margin: 1rem auto 0 auto;
  border-top: 5px solid #CFEDF6;
}

.mobile-subscribe-like .subscribe {
  padding: 1.5rem 0;
  text-align: center;
  background-color: #fff;
}

.mobile-subscribe-like .subscribe p {
  margin-bottom: 0.5rem;
  color: #3f3f48;
  font-weight: bold;
  text-transform: uppercase;
}

.subscribe .email {
  width: 180px;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 1px 7px 0px #1ca9d6;
  -moz-box-shadow: 1px 1px 7px 0px #1ca9d6;
  box-shadow: 1px 1px 7px 0px #1ca9d6;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.subscribe .email::placeholder {
  color: #0E546B;
}

.subscribe .submit {
  background-color: #0E546B;
  font-size: 1rem;
  padding: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.mobile-subscribe-like .like {
  height: 250px;
}

.mobile-subscribe-like .like a {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0.5rem 0 0 1rem;
  float: left;
  color: #fff;
}

.mobile-subscribe-like .like a:hover {
  color: #1ca9d6;
}

.mobile-subscribe-like .like p {
  font-size: 0.6rem;
  background-color: #1ca9d6;
  color: #fff;
  padding: 0.3rem 0.6rem 0.6rem;
  text-transform: uppercase;
  position: relative;
  top: 185px;
  margin-left: 1rem;
  float: left;
}

.mobile-subscribe-like .like img {
  width: 15px;
  margin-right: 0.3rem;
  background-color: #fff;
  position: relative;
  top: 3px;
  border-radius: 2px;
}

@media (min-width: 700px) {
  .mobile-subscribe-like .like {
    width: 80%;
    margin: 0 auto;
  }

  .mobile-subscribe-like .like p {
    top: 210px;
    right: 300px;
  }
}
@media (min-width: 850px) {
  .mobile-subscribe-like {
    display: none;
  }

  .email {
    width: 190px;
    font-size: 0.8rem;
  }

  .submit {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
