* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .wrapper {
    width: 650px;
  }
}
@media (min-width: 850px) {
  .wrapper {
    width: 800px;
  }
}
@media (min-width: 1100px) {
  .wrapper {
    width: 1000px;
  }
}
@media (min-width: 1300px) {
  .wrapper {
    width: 1200px;
  }
}
.visualAudible__header {
  display: none;
}

.single-posts {
  width: 90%;
  margin: 0 auto;
}

.single-posts h2 {
  font-size: 2rem;
  margin: 1rem 0 1rem 0rem;
  padding: 1rem 0 0.3rem 0;
  color: #1ca9d6;
  text-align: left;
  display: inline-block;
  grid-area: singlepostheading;
}

.single-posts-body ul {
  margin-bottom: 1rem;
}

.single-posts-body .wp-block-group {
  margin: 2rem 0 1rem 0;
}

.single-posts-body .wp-block-group .wp-block-group__inner-container {
  border-top: 4px solid #CFEDF6;
  border-bottom: 4px solid #CFEDF6;
}

.single-posts-body .wp-block-group .wp-block-group__inner-container h3 {
  margin-top: 1rem;
  color: #0E546B;
  font-weight: 500;
}

.single-posts-body .wp-block-group .wp-block-group__inner-container p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 0rem;
}

.single-posts-body .wp-block-group .wp-block-group__inner-container p a {
  width: 160px;
  background-color: #CFEDF6;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.single-posts-body .wp-block-group .wp-block-group__inner-container p a:hover {
  background-color: #0E546B;
  color: #fff;
}

.single-posts-body h4 {
  color: #1ca9d6;
}

.single-posts p {
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.7rem;
  font-size: 1rem;
}

.single-posts a {
  color: #0E546B;
  margin-right: 1rem;
  font-size: 0.9rem;
  display: inline-flex;
}

.single-posts a:hover {
  color: #1ca9d6;
}

.social-icons {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.3rem;
}

.single-posts-body .tag {
  background-color: #CFEDF6;
  margin-top: 1rem;
  padding: 0rem 0rem 1rem 1rem;
}

.single-posts-body .tag a {
  display: inline;
}

.single-posts-body .tag a h2 {
  width: 130px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  background-color: #1ca9d6;
}

.single-posts-body .tag a img {
  width: 130px;
}

@media (min-width: 700px) {
  .single-posts {
    width: 600px;
  }

  .single-posts-body .wp-block-group .wp-block-group__inner-container {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0;
  }

  .single-posts-body .wp-block-group .wp-block-group__inner-container figure img {
    width: 100%;
    max-width: 250px;
  }

  .single-posts p {
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.4rem;
    font-size: 0.9rem;
  }

  .single-posts-body .wp-block-group .wp-block-group__inner-container p a {
    width: 200px;
  }
}
@media (min-width: 1000px) {
  .single-posts-body iframe {
    grid-area: singlepostembed;
  }

  .single-posts-body ul {
    grid-area: singlepostul;
  }

  .single-posts-body p {
    grid-area: singlepostinfo;
  }

  .single-posts-body .wp-block-group {
    grid-area: buylinks;
  }

  .single-posts-body .tag {
    grid-area: tag;
  }

  .single-posts {
    width: 900px;
  }

  .single-posts-body {
    grid-template-columns: 40% 50%;
    display: grid;
    grid-template-areas: "singlepostheading singlepostheading" "singlepostul ." "singlepostembed singlepostinfo" "buylinks singlepostinfo" "tag singlepostinfo";
    column-gap: 2rem;
  }

  .single-posts-body .wp-block-group .wp-block-group__inner-container p a {
    width: 170px;
  }
}
@media (min-width: 1300px) {
  .single-posts {
    width: 1200px;
  }

  .single-posts-body {
    grid-template-columns: 30% 40% 20%;
    display: grid;
    grid-template-areas: "singlepostheading singlepostheading ." "singlepostul . ." "singlepostembed singlepostinfo buylinks" "tag singlepostinfo ." ". singlepostinfo .";
  }

  .single-posts-body .wp-block-group {
    margin: 0rem 0 1rem 0;
  }

  .single-posts-body .wp-block-group .wp-block-group__inner-container h3 {
    margin-top: 0rem;
  }

  .single-posts-body .wp-block-group .wp-block-group__inner-container p {
    display: block;
    grid-template-columns: unset;
  }
}
.artist-single-posts {
  width: 90%;
  margin: 0 auto;
}

.artist-single-posts-body h2 {
  font-size: 2rem;
  margin: 1rem 0 1rem 0rem;
  padding: 1rem 0 0.3rem 0;
  color: #1ca9d6;
  text-align: left;
  display: inline-block;
  grid-area: artistheading;
}

.artist-single-posts-body p {
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.7rem;
  font-size: 1rem;
}

.artist-single-posts a {
  color: #0E546B;
  margin-right: 1rem;
  font-size: 0.9rem;
  display: inline-flex;
  text-transform: capitalize;
}

.artist-single-posts a:hover {
  color: #1ca9d6;
}

.social-icons {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.3rem;
}

.facebook-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-fb-icon.png");
}

.facebook-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/fb-icon.png");
}

.artist-single-posts a:hover > .facebook-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/fb-icon.png");
}

.soundcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-soundcloud-icon.png");
}

.soundcloud-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/soundcloud-icon.png");
}

.artist-single-posts a:hover > .soundcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/soundcloud-icon.png");
}

.twitter-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-twitter-icon.png");
}

.twitter-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/twitter-icon.png");
}

.artist-single-posts a:hover > .twitter-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/twitter-icon.png");
}

.instagram-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-instagram-icon.png");
}

.instagram-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/instagram-icon.png");
}

.artist-single-posts a:hover > .instagram-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/instagram-icon.png");
}

.beatport-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-beatport-icon.png");
}

.beatport-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/beatport-icon.png");
}

.artist-single-posts a:hover > .beatport-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/beatport-icon.png");
}

.mixcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/original-mixcloud-icon.png");
}

.mixcloud-icon:hover {
  background-image: url("/wp-content/themes/blusaphir-theme/images/mixcloud-icon.png");
}

.artist-single-posts a:hover > .mixcloud-icon {
  background-image: url("/wp-content/themes/blusaphir-theme/images/mixcloud-icon.png");
}

/* HEADER RULES */
/* HEADER RULES */
header {
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid rgba(3, 160, 210, 0.2);
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.logo img {
  width: 80px;
  margin-top: 1rem;
}

.heading h2 {
  color: #1ca9d6;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1.5rem 0 0 0.7rem;
}

.recordings {
  color: #0E546B;
  font-size: 1.1rem;
  position: relative;
  bottom: 0.5rem;
}

.banners img {
  display: none;
}

@media (min-width: 600px) {
  header {
    border: none;
    padding-bottom: 0;
  }

  .logo img {
    width: 100px;
  }

  .heading h2 {
    display: none;
  }

  .banners img {
    display: block;
    width: 95%;
    margin: 1rem 0 0 1rem;
  }
}
@media (min-width: 700px) {
  header {
    display: flex;
  }

  .heading h2 {
    display: none;
  }
}
@media (min-width: 850px) {
  header {
    width: 800px;
  }

  .logo img {
    width: 110px;
  }
}
@media (min-width: 1000px) {
  header {
    width: 900px;
  }

  .logo img {
    width: 140px;
  }
}
@media (min-width: 1300px) {
  header {
    width: 1200px;
    justify-content: flex-start;
  }

  .logo img {
    width: 160px;
  }

  .banners {
    margin-bottom: 1rem;
  }
}
/* END OF HEADER RULES */
/* END OF HEADER RULES */
.hamburger-container {
  position: relative;
  width: 40px;
  height: 40px;
  top: 30px;
  margin-left: 1rem;
}

.hamburger {
  cursor: pointer;
  display: block;
}

.hamburger span {
  background-color: #1ca9d6;
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.2s;
}

.hamburger-container-open {
  z-index: 3;
}

.hamburger-container-open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.hamburger-container-open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 15px;
}

.hamburger-container-open span:nth-child(3) {
  transform: rotate(45deg);
  top: -5px;
}

@media (min-width: 1000px) {
  .hamburger-container {
    display: none;
    visibility: hidden;
  }
}
/* Rules for mobile nav menu overlay */
@media (max-width: 999px) {
  .nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 1100px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    width: 100%;
    transition: all ease-in-out 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav--reveal {
    opacity: 1;
    left: 0px;
    transition: all ease-in-out 0.4s;
    z-index: 2;
  }

  nav li {
    padding: 0.8rem 0;
    text-align: center;
  }

  .nav-bar li a {
    font-size: 2rem;
    margin-right: 2rem;
    text-transform: uppercase;
  }

  li a:hover {
    color: #1ca9d6;
  }

  .search {
    display: none;
  }
}
/* End Rules for mobile nav menu overlay*/
@media (min-width: 1000px) {
  .nav-container {
    width: 100%;
    background-color: #1ca9d6;
  }

  .nav-bar {
    width: 900px;
    margin: 0 auto;
    display: flex;
    height: 70px;
    align-items: center;
  }

  .nav ul li {
    display: inline;
  }

  .nav ul li a {
    font-size: 1rem;
    margin-right: 0.8rem;
    text-transform: uppercase;
  }

  .nav ul li a:hover {
    color: #0E546B;
  }

  .nav-container form {
    position: relative;
    left: 40px;
  }

  .search-box {
    width: 200px;
    height: 30px;
    font-size: 1rem;
    color: #0e546b;
    padding: 0.5rem 0 0.5rem 1rem;
    border: none;
    border-radius: 15px;
  }

  .search-box::placeholder {
    color: #1ca9d6;
  }

  .search-icon {
    width: 20px;
    position: relative;
    top: 2px;
    right: 35px;
  }
}
@media (min-width: 1300px) {
  .nav-bar {
    width: 1200px;
  }

  .nav-container form {
    position: relative;
    left: 340px;
  }
}
/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
.image-slider-subscribe-like {
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  width: 95%;
  margin: 0 auto;
}

.image-slider {
  text-align: center;
}

.image-slider img {
  width: 100%;
}

.subscribe-like {
  display: none;
}

@media (min-width: 850px) {
  .image-slider-subscribe-like-container {
    width: 100%;
    background: #1ca9d6;
    margin: 1rem 0;
    -webkit-box-shadow: inset 0.5px 0.5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0.5px 0.5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0.5px 0.5px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .image-slider-subscribe-like {
    display: flex;
    padding-top: 0.8rem;
    width: 800px;
  }

  .subscribe-like {
    display: inline-block;
    margin-left: 0.5rem;
  }

  .subscribe {
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    text-align: center;
    color: #fff;
  }

  .subscribe-like .subscribe .email, .subscribe-like .subscribe .submit {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .subscribe p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .like {
    width: 290px;
    height: 155px;
    background-color: black !important;
  }

  .like a {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0 0 1rem;
    float: left;
  }

  .like p {
    font-size: 0.7rem;
    font-weight: 500;
    background-color: #1ca9d6;
    color: #fff;
    padding: 0.2rem 0.5rem 0.5rem;
    text-transform: uppercase;
    position: relative;
    top: 70px;
    margin-left: 1rem;
    float: left;
  }

  .subscribe-like .like img {
    width: 17px;
    margin-right: 0.3rem;
    background-color: #fff;
    position: relative;
    top: 4px;
    border-radius: 2px;
  }
}
@media (min-width: 1000px) {
  .image-slider-subscribe-like {
    border: none;
    width: 900px;
  }

  .like {
    width: 380px;
    height: 159px;
  }

  .like a {
    font-size: 1rem;
  }

  .like p {
    font-size: 0.8rem;
    top: 75px;
  }
}
@media (min-width: 1300px) {
  .image-slider-subscribe-like {
    border: none;
    width: 1200px;
  }

  .like {
    width: 530px;
    height: 227.5px;
  }

  .like a {
    font-size: 1.2rem;
  }

  .like p {
    top: 140px;
  }
}
/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
.recent-posts-container {
  margin: 1rem auto;
  width: 95%;
}

.recent-posts-container img {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.recent-posts-container div {
  margin: 0 0 1rem 0;
  border-bottom: 5px solid rgba(3, 160, 210, 0.2);
}

.recent-posts-container h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0.5rem;
  color: #1ca9d6;
  text-transform: uppercase;
}

.recent-posts-container p {
  padding: 0.5rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.recent-posts-container .readmore {
  background-color: #1ca9d6;
  padding: 0.8rem;
}

.recent-posts-container .readmore:hover {
  background-color: #0E546B;
}

.front-page-random-artist-container {
  height: 560px;
  overflow: hidden;
}

.front-page-random-artist-container, .artist-grid {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-self: baseline;
}

.front-page-random-artist h2, .artist-grid h2 {
  width: 130px;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #1ca9d6;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.front-page-random-artist, .artist-grid div {
  margin: 0 0.5rem 1rem 0;
}

.front-page-random-artist img, .artist-grid img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  align-self: center;
}

.front-page-random-artist h2:hover, .artist-grid h2:hover {
  background-color: #0E546B;
}

.front-page-random-artist img:hover > .front-page-random-artist h2 {
  background-color: #0E546B;
}

@media (min-width: 700px) {
  .main-content-wrapper {
    display: flex;
  }

  .recent-posts-container {
    margin: 1rem;
  }

  .recent-posts-container div:last-child {
    border: none;
  }

  .recent-posts-container h2 {
    font-size: 1.2rem;
  }

  .front-page-random-artist-container {
    margin: 0 0.7rem 0 0;
    justify-content: flex-end;
    height: 2710px;
  }

  .front-page-random-artist h2, .front-page-random-artist img {
    width: 145px;
  }
}
@media (min-width: 850px) {
  .main-content-wrapper {
    width: 800px;
    margin: 0 auto;
  }

  .recent-posts-container {
    margin-left: 0rem;
  }

  .front-page-random-artist-container {
    margin-right: -0.5rem;
    width: 60%;
  }

  .front-page-random-artist h2, .front-page-random-artist-container img {
    width: 141px;
  }

  .recent-posts-container h2 {
    padding-left: 0rem;
  }

  .recent-posts-container p {
    padding: 0rem;
  }
}
@media (min-width: 1000px) {
  .main-content-wrapper {
    width: 900px;
  }

  .front-page-random-artist-container {
    width: 75%;
    height: 2940px;
  }

  .front-page-random-artist h2 {
    width: 186px;
  }

  .front-page-random-artist img {
    width: 186px;
    height: 186px;
  }
}
@media (min-width: 1300px) {
  .main-content-wrapper {
    width: 1200px;
  }

  .recent-posts-container h2 {
    font-size: 1.5rem;
  }

  .front-page-random-artist-container {
    width: 80%;
    height: 3240px;
  }

  .front-page-random-artist h2, .front-page-random-artist img {
    width: 172px;
  }

  .front-page-random-artist img {
    height: 172px;
  }
}
footer {
  background-color: rgba(3, 160, 210, 0.3);
  margin-top: 2rem;
}

.footer-nav-links {
  padding: 2rem 0;
  display: flex;
  padding-left: 2rem;
}

footer a {
  color: #0E546B;
  text-transform: capitalize;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

footer ul:nth-child(2) {
  padding-left: 3rem;
}

footer ul:last-child {
  padding-left: 3rem;
}

footer p {
  font-size: 0.8rem;
  color: #0E546B;
  text-align: left;
  padding: 0 0 0rem 2rem;
}

footer p:last-child {
  padding-bottom: 1rem;
}

.artist {
  text-align: center;
  margin-top: 2rem;
}

.artist img {
  width: 250px;
}

.artist figure:first-child a img {
  width: 200px;
}

.artist figure:nth-child(2) a img {
  width: 210px;
}

.artist figure:nth-child(4) a img {
  width: 270px;
}

@media (min-width: 700px) {
  .artist {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 3rem auto;
  }

  .artist a img {
    margin: 1rem;
  }

  .artist figure:nth-child(3) a img {
    position: relative;
    left: 15px;
  }
}
.page-title {
  color: #0E546B;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem 0;
}

@media (min-width: 700px) {
  .artist-grid div {
    margin-top: 0.5rem;
  }

  .artist-grid h2 {
    width: 200px;
    font-size: 1.1rem;
  }

  .artist-grid img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1000px) {
  .artist-grid {
    width: 900px;
  }

  .page-title {
    border: none;
  }

  .artist-grid h2 {
    width: 217px;
  }

  .artist-grid img {
    width: 217px;
    height: 217px;
  }
}
@media (min-width: 1300px) {
  .artist-grid {
    width: 1200px;
  }

  .artist-grid h2 {
    width: 232px;
  }

  .artist-grid img {
    width: 232px;
    height: 232px;
  }
}
/* about.php - styles and rules */
.about {
  margin: 0 1rem;
}

.about .content-wrapper {
  text-align: center;
  border-bottom: 4px solid #CFEDF6;
  margin-top: 1rem;
}

.about img {
  width: 160px;
}

.about div:first-child img {
  width: 130px;
}

.about h2 {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: #1ca9d6;
  text-align: left;
  padding-bottom: 0.5rem;
}

.about p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-align: left;
  padding-bottom: 1rem;
}

@media (min-width: 650px) {
  .about {
    border-top: 4px solid #CFEDF6;
    margin-top: 0.5rem;
  }

  .about h2 {
    grid-area: heading;
    padding: 1rem 1rem 0.5rem 0rem;
    margin-top: 0;
  }

  .about img {
    width: 200px;
    grid-area: aboutimg;
    justify-self: center;
    align-self: center;
  }

  .about div:first-child img {
    width: 170px;
  }

  .about p {
    grid-area: info;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 1rem;
  }

  .about .content-wrapper {
    display: grid;
    grid-template-areas: "aboutimg heading" "aboutimg info";
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3rem;
    padding: 3rem 1rem;
    margin-top: 0;
  }

  .about .content-wrapper:nth-child(even) {
    grid-template-areas: "heading aboutimg" "info aboutimg";
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1000px) {
  .about {
    width: 900px;
    margin: 0 auto;
    border-top: none;
  }
}
@media (min-width: 1300px) {
  .about {
    width: 1200px;
  }
}
.eventsgrid {
  text-align: center;
  padding-top: 2rem;
  border-top: 3px solid #1ca9d6;
}

.event {
  border: 2px solid #1ca9d6;
  margin: 1rem 0;
  padding: 1rem;
}

.event h3 {
  color: #0E546B;
}

.eventsgrid img {
  width: 95%;
  padding: 1rem 0;
}

@media (min-width: 850px) {
  .eventsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media (min-width: 1100px) {
  .eventsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}
.mobile-subscribe-like {
  width: 95%;
  margin: 1rem auto 0 auto;
  border-top: 5px solid #CFEDF6;
}

.mobile-subscribe-like .subscribe {
  padding: 1.5rem 0;
  text-align: center;
  background-color: #fff;
}

.mobile-subscribe-like .subscribe p {
  margin-bottom: 0.5rem;
  color: #0E546B;
  font-weight: bold;
  text-transform: uppercase;
}

.subscribe .email {
  width: 180px;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 1px 7px 0px #1ca9d6;
  -moz-box-shadow: 1px 1px 7px 0px #1ca9d6;
  box-shadow: 1px 1px 7px 0px #1ca9d6;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.subscribe .email::placeholder {
  color: #0E546B;
}

.subscribe .submit {
  background-color: #0E546B;
  font-size: 1rem;
  padding: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.mobile-subscribe-like .like {
  height: 200px;
}

.mobile-subscribe-like .like a {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0.5rem 0 0 1rem;
  float: left;
}

.mobile-subscribe-like .like a:hover {
  color: #1ca9d6;
}

.mobile-subscribe-like .like p {
  font-size: 0.6rem;
  background-color: #1ca9d6;
  color: #fff;
  padding: 0.7rem;
  text-transform: uppercase;
  position: relative;
  top: 125px;
  margin-left: 1rem;
  float: left;
}

.mobile-subscribe-like .like img {
  width: 15px;
  margin-right: 0.3rem;
  background-color: #fff;
  position: relative;
  bottom: 1px;
  border-radius: 2px;
}

@media (min-width: 850px) {
  .mobile-subscribe-like {
    display: none;
  }

  .email {
    width: 190px;
    font-size: 0.8rem;
  }

  .submit {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
