/* about.php - styles and rules */

.about {
  margin: 1rem 1rem 3rem 1rem;
  padding-top: 2rem;
  border-top: 1px solid $primary-cyan;
}

.about .content-wrapper {
  margin-bottom: 3.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $primary-cyan;
  text-align: center;
}

.about img {
  width: 40%;
  padding: 1rem 0;
}

.about h2 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #3d3d3d;
}

.about p {
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: left;
}

@media(min-width: 1100px) {

  .about {
    border-top: none;
  }

  .about h2 {
    grid-area: heading;
  }

  .content-wrapper:nth-child(2) h2, 
  .content-wrapper:nth-child(3) h2, 
  .content-wrapper:nth-child(4) h2 {
    margin-bottom: -3rem;
  }

  .about img {
    grid-area: img;
    justify-self: center;
    width: 250px;
  }

  .about p {
    grid-area: info;
  }

  .content-wrapper {
    display: grid;
    grid-template-areas:
    "img heading"
    "img info";
    grid-template-columns: 1fr 2fr;
  }

  .about .content-wrapper:nth-child(even) {
    grid-template-areas:
    "heading img"
    "info img";
    grid-template-columns: 2fr 1fr;
  }
}
