/* about.php - styles and rules */

.about {
  margin: 0 1rem;
}

.about .content-wrapper {
  text-align: center;
  border-bottom: 4px solid $light-cyan;
}

.about img {
  width: 160px;
}

.about img:first-child {
  width: 130px;
}

.about h2 {
  font-size: 1.6rem;
  margin: 1rem 0;
  color:$primary-cyan;
}

.about p {
  font-size: .9rem;
  line-height: 1.3rem;
  text-align: left;
  padding-bottom: 1rem;
}

@media(min-width: 650px) {

  .about h2 {
    grid-area: heading;
  }

  .about img {
    width: 200px;
    grid-area: aboutimg;
    justify-self: center;
  }

  .about p {
    grid-area: info;
  }

  .about .content-wrapper {
    display: grid;
    grid-template-areas:
    "aboutimg heading"
    "aboutimg info";
    grid-template-columns: 1fr 2fr;
  }

  .about .content-wrapper:nth-child(even) {
    grid-template-areas:
    "heading aboutimg"
    "info aboutimg";
    grid-template-columns: 2fr 1fr;
  }
}

@media(min-width: 1100px) {

  .about {
    border-top: none;
  }
}
