.page-title {
  color: $darker-cyan;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem 0;
}

@media(min-width: 700px) {
  
  .artist-grid div {
    margin-top: 0.5rem;
  }

  .artist-grid h2 {
    width: 200px;
    font-size: 1.1rem;
  }

  .artist-grid img {
    width: 200px;
    object-fit: cover;
  }
}

@media(min-width: 1000px) {
  
  .artist-grid {
    width: 900px;
  }

  .page-title {
    border: none;
  }
}

@media(min-width: 1300px) {

  .artist-grid {
    width: 1200px;
  }

  .artist-grid img {
    width: 232px;
    height: 232px;
  }
}