.page-title {
  color: $darker-cyan;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem 0;
  border-top: 1px solid $primary-cyan;
}

.artist-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding-bottom: 2rem;
}

.artist-grid h2 {
  text-align: center;
  margin: 0 1rem;
  padding: .3rem;
  font-weight: normal;
  font-size: 1.1rem;
  background-color: $primary-cyan;
}

.artist-grid img {
  width: 125px;
  align-self: center;
  margin: .3rem 1rem 1rem 1rem;
}

@media(min-width: 700px) {
  
  .artist-grid a {
    color: $darker-cyan;
  }
  .artist-grid div {
    margin-top: 2rem;
  }

  .artist-grid h2 {
    font-size: 1.4rem;
    color: $darker-cyan;
    background: none;
  }

  .artist-grid img {
    width: 200px;
    opacity: .7;
    transition: opacity 0.5s ease-in-out;
  }

  .artist-grid img:hover {
    opacity: 1;
    z-index: 2;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.7);
  }

  .artist-grid div:hover > .highlight {
    background-color: #1ca9d6;
  }

  .artist-grid div:hover > .highlight a {
    color: #ffffff;
  }

}

@media(min-width: 1100px) {

  .page-title {
    border: none;
  }
}