.artist {
  text-align: center;
  margin-top: 2rem;
}

.artist img {
  width: 250px;
}

.artist figure:first-child a img {
  width: 200px
}

.artist figure:nth-child(2) a img{
  width: 210px;
}

.artist figure:nth-child(4) a img{
  width: 270px;
}

@media(min-width: 700px) {

  .artist {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 3rem auto;
  }

  .artist a img {
    margin: 1rem;
  }

  .artist figure:nth-child(3) a img{
    position: relative;
    left: 15px;
  }
}
