.artist {
  text-align: center;
}

.artist img {
  width: 250px;
}

.artist figure:first-child a img {
  width: 200px
}

.artist figure:nth-child(2) a img{
  width: 210px;
}

.artist figure:nth-child(4) a img{
  width: 270px;
}

@media(min-width: 700px) {

  .artist {
    width: 100%;
    margin: 3rem auto;
  }

  .artist a img {
    margin: 1rem;
  }
}
