.event-single-posts {
  width: 90%;
  margin: 0 auto;
}

.event-single-posts h2 {
  margin: 2rem 0rem;
  color: $primary-cyan;
  text-align: center;
}

.event-single-posts-content p {
  margin-bottom: 1rem;
}

.event-single-posts-content img {
  width: 100%;
}

@media(min-width: 700px) {

  .event-single-posts {
    width: 600px;
  }

  .event-single-posts-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .event-single-posts-content p {
    margin-left: 2rem;
  }
}

@media(min-width: 1000px) {

  .event-single-posts {
    width: 900px;
  }
}

@media(min-width: 1300px) {

  .event-single-posts {
    width: 1200px;
  }
}