.event-single-posts {
  width: 90%;
  margin: 0 auto;
}

.event-single-posts h2 {
  margin: 1rem 0rem;
  color: $primary-cyan;
}

@media(min-width: 700px) {

  .event-single-posts {
    width: 600px;
  }
}

@media(min-width: 1000px) {

  .event-single-posts {
    width: 900px;
  }
}

@media(min-width: 1300px) {

  .event-single-posts {
    width: 1200px;
  }
}