.events-grid {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.events-grid h2 {
  background-color: $primary-cyan;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.events-grid h2:hover {
  background-color: $darker-cyan;
}

.events-grid img {
  width: 100%;
}

@media(min-width: 700px) {
  
  .events-grid {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }
  
  .events-grid div {
    margin-top: 0.5rem;
  }

  .events-grid h2 {
    width: 200px;
    font-size: 1.1rem;
  }

  .events-grid img {
    width: 200px;
  }
}

@media(min-width: 1000px) {
  
  .events-grid {
    width: 900px;
  }

  .page-title {
    border: none;
  }

  .events-grid h2 {
    width: 217px;
  }
}

@media(min-width: 1300px) {

  .events-grid {
    width: 1200px;
  }

  .events-grid h2 {
    width: 232px;
  }
}