footer {
  background-color: rgba(3, 160, 210, .3);
  margin-top: 2rem;
  padding-top: 2rem;
}

.footer-nav-links {
  padding-bottom: 2rem;
}

footer a {
  color: $darker-cyan;
  text-transform: capitalize;
  line-height: 1.5rem;
  font-size: .8rem;
}

footer ul:nth-child(2) {
  padding-left: 3rem;
}

footer ul:last-child{
  padding-left: 3rem
}

footer p {
  font-size: .8rem;
  color: $darker-cyan;
  text-align: left;
  padding: 0 0 0rem 2rem;
}

footer p:last-child {
  padding-bottom: 1rem;
}

.footer-jayrome-social-links {
  margin-bottom: 2rem;
}

.footer-jayrome-social-links .wp-block-group {
  margin-bottom: 2rem;
}

.footer-jayrome-social-links .wp-block-group p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: black;
}

.footer-jayrome-social-links .wp-block-group ul li a:hover {
  color: black;
}

.footer-nav-links ul li a:hover {
  color: black;
}


@media(min-width: 700px) {

  .footer-jayrome-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1250px) {

  .footer-jayrome-and-nav {
    display: flex;
  }

}
