/* HEADER RULES */
/* HEADER RULES */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 0fr .5fr;
  justify-content: center;
  justify-items: center;
}

.logo img {
  width: 90px;
  margin-top: 1.1rem;
}

.heading h2 {
  color: $primary-cyan;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 1.2rem 0 0 0;
}

.recordings {
  color: $darker-cyan;
  font-size: 1.1rem;
  position: relative;
  bottom: 1.2rem;
}

.banners img {
  display: none;
}

@media(min-width: 700px) {

  .banners {
    display: block;
  }

  header {
    grid-template-columns: 1fr 5fr .5fr;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 90%;
  }

  .banners img {
    width: 100%;
    margin-left: 2rem;
  }
}

@media(min-width: 1300px) {

  header {
    grid-template-columns: 1fr 5fr .7fr;
  }

  header .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid $primary-cyan;
    padding: 15% 0;
  }

  header .social-links ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  header .social-links ul img {
    width: 25px;
  }
}

/* END OF HEADER RULES */
/* END OF HEADER RULES */
