.recent-posts-container {
  margin: 1rem auto;
  width: 95%;
}

.recent-posts-container img {
 width: 70%;
 display: block;
 margin: 0 auto;
 padding: 1rem;
}

.recent-posts-container div {
  margin: 0 0 1rem 0;
  border-bottom: 5px solid $light-blue;
}

.recent-posts-container h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0.5rem;
  color: $primary-cyan;
  text-transform: uppercase;
}

.recent-posts-container p {
  padding: .5rem;
  margin-bottom: 1.2rem;
  font-size: .9rem;
  line-height: 1.3rem;
}

.recent-posts-container .readmore {
  background-color: $primary-cyan;
  padding: .8rem;
}

.recent-posts-container .readmore:hover {
  background-color: $darker-cyan;
}

.front-page-random-artist-container {
  height: 560px;
  overflow: hidden;
}

.front-page-random-artist-container, .artist-grid {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-self: baseline;
}

.front-page-random-artist h2, .artist-grid h2 {
  width: 130px;
  font-size: 1rem;
  font-weight: lighter;
  background-color: $primary-cyan;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.front-page-random-artist, .artist-grid div {
  margin: 0 0.5rem 1rem 0;
}

.front-page-random-artist img, .artist-grid img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  align-self: center;
}

@media(min-width: 700px) {

  .main-content-wrapper {
    display: flex;
  }

  .recent-posts-container {
    margin: 1rem;
  }

  .recent-posts-container div:last-child {
    border: none;
  }

  .recent-posts-container h2 {
    font-size: 1.2rem;
  }

  .front-page-random-artist-container {
    margin: 0 .7rem 0 0;
    justify-content: flex-end;
    height: 2670px;
  }

  .front-page-random-artist h2, .front-page-random-artist img {
    width: 145px;
  }
}

@media(min-width: 850px) {
  .main-content-wrapper {
    width: 800px;
    margin: 0 auto;
  }

  .recent-posts-container {
    margin-left: 0rem;
  }

  .front-page-random-artist-container {
    margin-right: -.5rem;
    width: 60%;
  }

  .front-page-random-artist h2, .front-page-random-artist-container img {
    width: 141px;
  }

  .recent-posts-container h2 {
    padding-left: 0rem;
  }
  
  .recent-posts-container p {
    padding: 0rem;
  }
}

@media(min-width: 1000px) {
  
  .main-content-wrapper {
    width: 900px;
  }

  .front-page-random-artist-container {
    width: 75%;
    height: 2940px;
  }

  .front-page-random-artist h2 {
    width: 186px;
  }

  .front-page-random-artist img {
    width: 186px;
    height: 186px;
  }
}

@media(min-width: 1300px) {
  .main-content-wrapper {
    width: 1200px;
  }

  .recent-posts-container h2 {
    font-size: 1.5rem;
  }

  .front-page-random-artist-container {
    width: 80%;
    height: 3240px;
  }

  .front-page-random-artist h2, .front-page-random-artist img {
    width: 172px;
  }

  .front-page-random-artist img {
    height: 172px;
  }
}

