.search-results {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.search-results-content div {
  border-bottom: 5px solid $light-blue;
}

.search-results-content h2 {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.search-results-content h2 a {
  color: $primary-grey;
}

.search-results-content img {
  width: 120px;
}