/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */

.image-slider-subscribe-like {
  padding-top: .8rem;
  padding-bottom: .8rem;
  width: 95%;
  margin: 0 auto;
}

.image-slider {
  text-align: center;
}

.image-slider img {
  width: 100%;
}

.subscribe-like {
  display: none;
}

@media(min-width: 850px) {

  .image-slider-subscribe-like-container {
    width: 100%;
    background: $primary-cyan;
    margin: 1rem 0;
    -webkit-box-shadow: inset 0.5px 0.5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0.5px 0.5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0.5px 0.5px 10px 0px rgba(0,0,0,0.3);
  }

  .image-slider-subscribe-like {
    display: flex;
    padding-top: .8rem;
    width: 800px;
  }

  .subscribe-like {
    display: inline-block;
    margin-left: 0.5rem;
  }

  .subscribe {
    padding: 1rem 0;
    margin-bottom: .5rem;
    text-align: center;
    color: #fff;
  }

  .subscribe p {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .like {
    width: 290px;
    height: 127px;
  }

  .like a {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0 0 1rem;
    float: left;
  }

  .like p {
    font-size: .6rem;
    background-color: #1ca9d6;
    color:#fff;
    padding: 0 .5rem .5rem .5rem;
    text-transform: uppercase;
    position: relative;
    top: 50px;
    margin-left: 1rem;
    float: left;
  }

  .subscribe-like .like img {
    width: 17px;
    margin-right: 0.3rem;
    background-color: #fff;
    position: relative;
    top: 4px;
    border-radius: 2px;
  }
}

@media(min-width: 1000px) {

  .image-slider-subscribe-like {
    border: none;
    width: 900px;
  }

  .like {
    width: 380px;
    height: 131.5px;
  }

  .like a {
    font-size: 1rem;
  }

  .like p {
    font-size: .6rem;
    top: 55px;
  }
}

@media(min-width: 1300px) {

  .image-slider-subscribe-like {
    border: none;
    width: 1200px;
  }

  .like {
    width: 530px;
    height: 199px;
  }

  .like a {
    font-size: 1.2rem;
  }

  .like p {
    top: 120px;
  }
}

/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */