/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */

.image-slider-subscribe-like {
  padding-top: .5rem;
  padding-bottom: .8rem;
  width: 95%;
  margin: 0 auto;
}

.image-slider {
  text-align: center;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
}

.subscribe-like {
  display: none;
}

.image-slider div {
  position: relative;
  width: 1300%;
  margin: 0;
  left: 0;
  animation: 55s slider infinite ease-in-out;
}

.image-slider div figure {
  width: 7.6924%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  4% {
    left: 0;
  }
  8% {
    left: -100%;
  }
  12% {
    left: -100%;
  }
  16% {
    left: -200%;
  }
  20% {
    left: -200%;
  }
  24% {
    left: -300%;
  }
  28% {
    left: -300%;
  }
  32% {
    left: -400%;
  }
  36% {
    left: -400%;
  }
  40% {
    left: -500%;
  }
  44% {
    left: -500%;
  }
  48% {
    left: -600%;
  }
  52% {
    left: -600%;
  }
  56% {
    left: -700%;
  }
  60% {
    left: -700%;
  }
  64% {
    left: -800%;
  }
  68% {
    left: -800%;
  }
  72% {
    left: -900%;
  }
  76% {
    left: -900%;
  }
  80% {
    left: -1000%;
  }
  84% {
    left: -1000%;
  }
  88% {
    left: -1100%;
  }
  92% {
    left: -1100%;
  }
  96% {
    left: -1200%;
  }
  100% {
    left: -1200%;
  }
}

@media(min-width: 850px) {

  .image-slider-subscribe-like-container {
    width: 100%;
    margin: 1rem 0;
  }

  .image-slider-subscribe-like {
    display: flex;
    padding-top: .8rem;
    width: 800px;
  }

  .subscribe-like {
    display: inline-block;
    margin-left: 0.5rem;
  }

  .subscribe {
    padding: .5rem;
    margin-bottom: .2rem;
    text-align: center;
    color: #fff;
  }

  .subscribe-like .subscribe .email, .subscribe-like .subscribe .submit {
    padding: 0.4rem;
    font-size: .9rem;
  }

  .subscribe p {
    font-size: .9rem;
    margin-bottom: .5rem;
    color: $primary-grey;
  }

  .like {
    width: 290px;
    height: 155px;
    background-color: black !important;
  }

  .like a {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0 0 1rem;
    float: left;
  }

  .like p {
    font-size: .7rem;
    font-weight: 500;
    background-color: #1ca9d6;
    color:#fff;
    padding: .2rem .5rem .5rem;
    text-transform: uppercase;
    position: relative;
    top: 70px;
    margin-left: 1rem;
    float: left;
  }

  .subscribe-like .like img {
    width: 17px;
    margin-right: 0.3rem;
    background-color: #fff;
    position: relative;
    top: 4px;
    border-radius: 2px;
  }
}

@media(min-width: 1000px) {

  .image-slider-subscribe-like {
    border: none;
    width: 900px;
  }

  .like {
    width: 380px;
    height: 161.5px;
  }

  .like a {
    font-size: 1rem;
  }

  .like p {
    font-size: .8rem;
    top: 75px;
  }
}

@media(min-width: 1300px) {

  .image-slider-subscribe-like {
    border: none;
    width: 1200px;
  }

  .like {
    width: 530px;
    height: 229.5px;
  }

  .like a {
    font-size: 1.2rem;
  }

  .like p {
    top: 140px;
  }
}

/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */
/* END OF RULES FOR IMAGE SLIDER AND SUBSCRIBE/LIKE SECTION */