.mobile-subscribe-like {
  width: 95%;
  margin: 1rem auto 0 auto;
  border-top: 5px solid $light-cyan;
}

.mobile-subscribe-like .subscribe {
  padding: 1.5rem 0;
  text-align: center;
  background-color: #fff;
}

.mobile-subscribe-like .subscribe p {
  margin-bottom: 0.5rem;
  color: $primary-grey;
  font-weight: bold;
  text-transform: uppercase;
}
.subscribe .email {
  width: 180px;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 1px 7px 0px $primary-cyan;
  -moz-box-shadow: 1px 1px 7px 0px $primary-cyan;
  box-shadow: 1px 1px 7px 0px $primary-cyan;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.subscribe .email::placeholder {
  color: $darker-cyan;
}

.subscribe .submit {
  background-color: $darker-cyan;
  font-size: 1rem;
  padding: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.mobile-subscribe-like .like {
  height: 250px;
}

.mobile-subscribe-like .like a {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0.5rem 0 0 1rem;
  float: left;
  color: #fff;
}

.mobile-subscribe-like .like a:hover {
  color: $primary-cyan;
}

.mobile-subscribe-like .like p {
  font-size: 0.6rem;
  background-color: #1ca9d6;
  color: #fff;
  padding: .3rem .6rem .6rem;
  text-transform: uppercase;
  position: relative;
  top: 185px;
  margin-left: 1rem;
  float: left;
}

.mobile-subscribe-like .like img {
  width: 15px;
  margin-right: 0.3rem;
  background-color: #fff;
  position: relative;
  top: 3px;
  border-radius: 2px;
}

@media (min-width: 700px) {
  .mobile-subscribe-like .like {
    width: 80%;
    margin: 0 auto;
  }

  .mobile-subscribe-like .like p {
    top: 210px;
    right: 300px;
  }
}

@media (min-width: 850px) {
  .mobile-subscribe-like {
    display: none;
  }

  .email {
    width: 190px;
    font-size: 0.8rem;
  }

  .submit {
    font-size: 0.8rem;
  }
}
