.dubplates-container {
  width: 90%;
  margin: 2rem auto 0rem auto;
}

.dubplates {
  margin-bottom: 2rem;
  border-bottom: 5px solid $light-blue;
}

.dubplates:last-child {
  margin-bottom: 2rem;
  border-bottom: none;
}

.dubplates h2 {
  font-size: 1.5rem;
  color: $primary-cyan;
}

.dubplates ul {
  margin: 1rem 0rem;
}


.dubplates iframe {
  margin-bottom: 1rem;
}

@media(min-width: 1000px) {

  .dubplates-container {
    width: 900px;
  }

  .dubplate-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .dubplates h2 {
    font-size: 1.4rem;
  }
}

@media(min-width: 1300px) {

  .dubplates-container {
    width: 1200px;
  }
}