.dubplates {
  width: 90%;
  margin: 2rem auto 0rem auto;
}

.dubplates h3 {
  font-size: 1.5rem;
  color: $primary-cyan;
}

.dubplates ul {
  color: $darker-cyan;
  margin: 1rem 0rem;
}


.dubplates iframe {
  margin-bottom: 3rem;
}

@media(min-width: 700px) {

  .dubplates {
    width: 600px;
  }
}

@media(min-width: 1000px) {

  .dubplates {
    width: 900px;
  }
}

@media(min-width: 1300px) {

  .dubplates {
    width: 1200px;
  }
}