.dubplates {
  width: 90%;
  margin: 2rem auto 0rem auto;
}

.dubplates h3 {
  font-size: 1.5rem;
  color: $primary-cyan;
}

.dubplates ul {
  margin: 1rem 0rem;
}


.dubplates iframe {
  margin-bottom: 3rem;
}

@media(min-width: 700px) {

  .dubplates {
    width: 600px;
  }
}

@media(min-width: 1000px) {

  .dubplates {
    width: 900px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .dubplates .wp-block-group .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .dubplates .wp-block-group .wp-block-group__inner-container:last-child {
    padding-top: 1.6rem;
  }

  .dubplates .wp-block-group .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
    display: unset;
  }

  .dubplates h3 {
    font-size: 1.4rem;
  }
}

@media(min-width: 1300px) {

  .dubplates {
    width: 1200px;
  }
}